
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="palavra">Palavra</label>
                <input type="text" name="palavra" value="" class="form-control" id="palavra" placeholder="Nome da palavra">
               
            </div>
            <div class="form-group">
                <label for="nivel">Nivel de dificuldade</label>
                <input type="text" name="nivel" value="" class="form-control" id="nivel" placeholder="Digite o nivel da palavra">
                
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
            
        </form>

    </div>
</body>
</html>
