@{
    Layout = "_Layout";
}
<form method="post" action="/home/login">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" value="" class="form-control" id="nome" placeholder="Digite o seu email">
        @Html.ValidationMessage("email")
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" name="senha" value="" class="form-control" id="senha" placeholder="Digite sua senha">
        @Html.ValidationMessage("senha")
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    @ViewBag.Mensagem
